/*
    Copyright 2024 Alamin.
      
    This is root scss files of entire application.
*/

// import necessary scss files
@import './_variables.scss';
@import './footer-styles.scss';

body {
    background-color: var(--body-bg) !important;
}

/* global container */
.container {
    @media (min-width: 1400px) {
        max-width: var(--container-max-width);
    }
}

#flight-widget-container {
    transition: all 0.3s linear;
    .title-txt {
        font-size: 35px;
        margin: 0;
        padding: 0;
        margin-block: 5px;
    }
    .form-container {
        padding: 15px 0;
        position: relative;
    }
    .form-group {
        word-break: break-word;
        --input-label-fontSize: 17px;

        @media (max-width: 992px) {
            margin-bottom: 20px !important;
        }

        .form-label {
            font-size: var(--input-label-fontSize);
            color: #4d4d4d;
            padding: 0;
            margin: 0;
            padding-bottom: 8px;
            white-space: nowrap;

            .required-sign {
                color: var(--theme-secondary-color);
            }
        }
        input.form-control {
            outline: none;
            padding: 10px;
            margin: 0;
            background-color: var(--bs-white);
            border: 1px solid #eeeeee;
            border-radius: 5px;
            color: var(--theme-black-color);
            box-shadow: none;
            font-size: var(--input-label-fontSize);
        }

        ::placeholder {
            color: var(--theme-gray-dark);
            font-size: 15px;
            font-style: normal;
            font-weight: 300;
            line-height: 16px;
            opacity: 0.5;
        }

        input:-webkit-autofill {
            background-color: transparent !important;
            -webkit-box-shadow: 0 0 0 50px white inset;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type='number'] {
            -moz-appearance: textfield;
        }

        .error-txt {
            font-size: 14px;
            color: var(--theme-error-color);
            line-height: normal;
        }
    }

    .btn-widget {
        background-color: #0062e3;
        color: var(--bs-white);
        padding: 10px 30px;
        box-shadow: 0px 12px 32px rgba(45, 86, 254, 0.18);
        border-radius: 2px;
        outline: none;
        border: none;
        font-size: 18px;
        line-height: 150%;
        letter-spacing: -0.02em;
        transition: all 0.3s linear;
        position: relative;
        width: 100%;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 992px) {
            margin-top: 10px;
        }

        svg {
            transition: all 0.3s;
            height: 18px;
            width: 18px;
            margin-left: 6px;
            margin-top: 3px;
        }

        &::after {
            content: '';
            height: 0px;
            width: 100%;
            transition: all 0.2s linear;
            background-color: #0959c1e9;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -10;
            border-radius: 4px;
        }
        &:hover {
            &::after {
                width: 100%;
                height: 100%;
            }
            svg {
                margin-left: 9px;
            }
        }
    }

    .input-search-wrapper {
        #search-result {
            position: absolute;
            top: calc(100% + 14px);
            max-width: 500px;
            width: 100%;
            padding: 10px 20px;
            padding-right: 6px;
            background-color: #fff;
            border-radius: 8px;
            z-index: 100;
            border: 1px solid var(--gray-100, #f2f4f7);
            box-shadow:
                0px 4px 6px -2px rgba(16, 24, 40, 0.03),
                0px 12px 16px -4px rgba(16, 24, 40, 0.08);

            &::before {
                content: '';
                display: block;
                width: 20px;
                height: 20px;
                position: absolute;
                left: 30px;
                top: calc(0% - 10px);
                border-left: 1px solid #f2f4f7;
                border-top: 1px solid #f2f4f7;
                background-color: #fff;
                transform: rotate(45deg);
                background-repeat: no-repeat;
                background-size: contain;
            }

            #result-list {
                display: flex;
                flex-direction: column;
                max-height: 320px;
                overflow-x: hidden;

                &::-webkit-scrollbar-track {
                    background-color: #fff;
                    border-radius: 8px;
                }

                &::-webkit-scrollbar {
                    width: 8px;
                    background-color: #fff;
                }

                &::-webkit-scrollbar-thumb {
                    border-radius: 8px;
                    background-color: #eaecf0;
                }

                .search-result-link {
                    transition: all 0.3s;
                    word-break: break-word !important;
                    color: var(--brand-Black, #272727);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    text-decoration: none;
                    transition: all 0.3s linear;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    cursor: pointer;
                    border-bottom: 1px solid transparent;
                    display: inline-block;

                    &:hover {
                        color: var(--theme-primary-color);
                        border-bottom-color: var(--theme-primary-color);
                    }
                }
            }
        }
    }
    /* airlines card styles goes here */
    .card-widget {
        .flight-card {
            border: 1px solid var(--theme-gray);
            padding: 20px;
            border-radius: 8px;
            word-break: break-word;
            transition: all 0.3s linear;
            &:hover {
                box-shadow: -4px -6px 91px -4px rgba(0, 0, 0, 0.1);
                border-color: var(--theme-primary-color);
            }

            h3,
            p {
                margin: 0;
                padding: 0;
            }

            .title-txt-styles {
                font-size: 25px;
                padding-bottom: 5px;
            }
            .input-date-txt {
                padding: 5px 0;
            }
            .airlines-txt {
                padding: 5px 0;
            }
            .price-txt {
                padding: 5px 0;
            }
        }
    }

    .card-skeleton-widget {
        .skeleton-placeholder {
            background: linear-gradient(90deg, #e8e8e8 0px, #f8f8f8 40px, #e8e8e8 80px);
            background-size: 350px;
            width: 100%;
            height: 300px !important;
            height: 1.45rem;
            border-radius: 3px;
            // margin-top: 1.5rem;
            animation: animation 2.5s infinite;
            border-radius: 8px;
        }

        @keyframes animation {
            0% {
                background-position: -100px;
            }
            40%,
            100% {
                background-position: 270px;
            }
        }
    }
}
